streamlit
langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-groq

chromadb

sentence-transformers
transformers
torch

pypdf
pdfplumber
pandas

rank-bm25

redis

groq

python-dotenv

scikit-learn
numpy

pytesseract
pdf2image
pillow

pip freeze > requirements.txt